.diy {
    border: 1px solid black;
    text-align: center;
    .upload {
        width: 50vw;
        height: 20vh;
        margin-left: 25vw;
        margin-right: 25vw;
        padding: 0;
        border: 1px solid black;
    }
}